<div class="col-lg-6 col-md-6 col-xs-12 ">
    <!-- Dave added chart -->
    <div class="pieChartContainer Center">
        <div class="title">Allocation by Asset Class</div>
        <div class="chart-wrapper-flex">
            <div class="center-block " id="piechart"></div>
            <div class="legend-wrapper">
                <div class="center-block legendCenter" id="legend"></div>
            </div> 
        </div>
    </div>
</div>

<div class="  col-lg-6 col-md-6 col-xs-12 ">
    <div class="pieChartContainer Center">
        <div class="title">Allocation by Strategy</div>
        <div class="chart-wrapper-flex">
            <div class="center-block " id="piechart2"></div>
            <div class="legend-wrapper">
                <div class="legendCenter" id="legend2"></div>
            </div>
        </div>
    </div>
</div>