@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Forgot Password";
}
@Html.ValidationSummary()
<form action="@Url.Action("ForgotPassword", "Account")" id="UserLoginForm" method="post" accept-charset="utf-8">
    <div style="display:none;">
        <input type="hidden" name="_method" value="POST">
    </div>
    <fieldset>
        <div class="errorUsername">User not found</div>
        <div class="form-group required">
            <label for="UserUsername">Email</label>
            <input name="email" class="form-control" maxlength="50" type="email"  id="UserUsername" required="required" 
                     oninput="check(this)">
        </div>
    </fieldset>
    <button type="submit" class="btn btn-default btn-red">Reset</button>
    <div class="reset2">An email with a link will be sent to the email<br/>address associated with your account.</div>
</form>
<script type="text/javascript">
    function check(input) {
        if (input.validity.typeMismatch) {
            input.setCustomValidity("Invalid email format");
        }
        else {
            input.setCustomValidity("");
        }
    }
</script>