@using Silvercrest.Web.Helpers.Assembly
@model Silvercrest.ViewModels.GenericViewModel

@{
    Layout = "~/Views/Shared/_LayoutNoBar.cshtml";
    ViewBag.Title = "Activate User";
}
<link href="~/Content/kenodDefault.css?v=@Url.GetVersion()" rel="stylesheet" />
<script src="~/Scripts/app/Administrator/AdministatorController/ActivateUser.js?v=@Url.GetVersion()"></script>
<section id="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-free pull-right">
                <a href="@Url.Action("Index", "Administrator", new { Area = "Administrator" })">
                    <img src="~/img/return-arrow.png" alt="">Back to Admin Tasks
                </a>
            </div>

        </div>
    </div>
</section>
<section id="title">
    <div class="container">
        <div class="row">
            <h2 class="adm-tasks">User Admin Tasks</h2>
        </div>
    </div>
</section>

<section id="find-user">
    <div class="container pt30">
        <div class="row">
            <h3>Find User</h3>
        </div>
        <div class="row">
            <div class="box">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Users" id="FieldFilter" style="font-family: copperplate; text-transform: uppercase">
                        <div class="input-group-addon">  <i class="fa fa-caret-right" aria-hidden="true"></i> </div>
                    </div>
                </div>

                <div id="UserGrid">

                </div>
            </div>
        </div>
    </div>
</section>

<div class="popup-holder" style="display:none; margin-top: 300px;" popup id="popupActivateOrDeactivate">
    <div class="popup">
        <div class="popup-header">
            <h2 id="activateMessage">User Activated</h2>
            <h2 id="deactivateMessage">User Deactivated</h2>
            <h2 id="inUseMessage">User currently in user</h2>

        </div>
        <div class="popup-content">
            <p> <span id="userName"></span></p>
        </div>
        <div class="popup-footer">
            <div class="btn-wrapper">
                <button class="btn-main btn-close btn-activate">Close</button>
            </div>
        </div>
    </div>
</div>
