<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--UAT
    <add name="SLVR_DEVEntities" connectionString="metadata=res://*/Model.SilvercrestContext.csdl|res://*/Model.SilvercrestContext.ssdl|res://*/Model.SilvercrestContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:v3iinihz9y.database.windows.net,1433;initial catalog=SLVR_UAT;user id=Silvercrest@v3iinihz9y;password=Welcome2Dev;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Database" connectionString="Server=tcp:v3iinihz9y.database.windows.net,1433;Database=SLVR_UAT;User ID=Silvercrest@v3iinihz9y;Password=Welcome2Dev;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;Asynchronous Processing=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	 -->
    <!--PROD -->
    <add name="SLVR_DEVEntities" connectionString="metadata=res://*/Model.SilvercrestContext.csdl|res://*/Model.SilvercrestContext.ssdl|res://*/Model.SilvercrestContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:cqz8374sla.database.windows.net,1433;initial catalog=SLVR_DW;user id=Silvercrest@cqz8374sla;password=Welcome2015!@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Database" connectionString="Server=tcp:cqz8374sla.database.windows.net,1433;Database=SLVR_DW;User ID=Silvercrest@cqz8374sla;Password=Welcome2015!@;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;Asynchronous Processing=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="mailFrom" value="do-not-reply@silvercrestgroup.com" />
    <add key="mailFromName" value="Silvercrest Portal" />
    <add key="cloudShare" value="samgcloudfileshare" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=samgcloudstorage;AccountKey=7senaqa25mtBmkyXKpStUGw7IK/oLbN4ufiNgNT99hrbS2a5P9O7lDEE37bqTvIM5EVZZmDk8GkitXqW24bEDg==" />
    <add key="SqlCommandTimeOut" value="400" />
    <add key="fromPhoneNumber" value="+16152191054" />
    <add key="messagingServiceId" value="" />
    <add key="accountSid" value="ACf5282078ca96caf56a23604b51a6c760" />
    <add key="authToken" value="0f7cffe229f4ef796a3a0f5b87d0b1af" />
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <!--<httpCookies httpOnlyCookies="true" requireSSL="true"/>-->
    <httpCookies httpOnlyCookies="true" />
    <sessionState timeout="60" />
    <!--<customErrors mode="On" defaultRedirect="~/Views/Shared/Error.cshtml">
      <error statusCode="500" redirect="~/Views/Account/Login"/>
    </customErrors>-->
    <customErrors mode="Off" />
    <authentication mode="None" />
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="1000000000" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
      <add type=" QueryStringModule " name=" QueryStringModule " />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <rewrite>
      <!--<rules>
        <rule name="SAMG-CLIENTS" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <action type="Redirect" url="https://client.silvercrestgroup.com/{R:0}" redirectType="Found" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="*samg-clients.cloudapp.net" />
            <add input="{HTTP_HOST}" pattern="*clients.silvercrestgroup.com" />
          </conditions>
        </rule>
        <rule name="HTTP_2_HTTPS" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Found" />
        </rule>
      </rules>-->
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.net>
    <mailSettings>
      <smtp from="do-not-reply@silvercrestgroup.com">
        <!--        <network host="mail.silvercrestgroup.com" port="25" userName="do-not-reply@silvercrestgroup.com" password="Welcome2017" enableSsl="false"/>-->
        <!--        <network host="smtp.office365.com" port="587" userName="ITSupport@silvercrestgroup.com" password="Welcome2017" enableSsl="true"/>-->
        <!--        <network host="smtp.office365.com" port="587" userName="ITSupport@silvercrestgroup.com" password="Welcome2017" enableSsl="true"/>-->
        <network host="smtp.office365.com" port="587" userName="itsupport@silvercrestgroup.com" password="WelcomeSAMG!" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
<!--ProjectGuid: 1213E442-2D35-4885-9A07-AFA03856543F-->