
@{
    ViewBag.Title = "Index";
}
<body style="overflow:scroll">
    <section id="title">
        <div class="container container-center">
            <div class="row">
                <h2>ADMIN LOGIN</h2>
            </div>
        </div>
    </section>

    <section id="links">
        <div class="container container-center">
            <div class="row">
                <h3>USER ADMIN TASKS</h3>
                <a href="portal-20-admin_new_account.html">new user</a>
                <a href="portal-21-admin_find_account.html" class="active">activate / deactivate user</a>
            </div>
        </div>
    </section>
</body>
<!--
<div id="email-popup" class="show1">
    <div class="state1">
        <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
    </div>
    <div class="state2">
        <h2>
            CONTACT YOUR TEAM
        </h2>
        <div>
            <form id="form1" name="form1" class="form-horizontal" method="post" role="form" action="">
                <div class="form-group">
                    <div class="col-sm-12 ">
                        <input type="name" name="name" value="" placeholder="Name" class="form-control" id="name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="eMail" name="eMail" value="" placeholder="Subject" class="form-control" id="name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <textarea class="form-control" name="message" placeholder="Enter Your Message" style="height:100px;max-width:400px;  color:#888"></textarea>
                    </div>
                </div>
                <div class="form-group last">

                    <div class="col-sm-5 pull-left">
                        <button type="submit" name="submit" id="submit" class="btn btn-red pull-left">Submit</button>
                    </div>
                    <div class="col-md-5 pull-right">
                        <button type="submit" id="close" class="btn btn-gray pull-right">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="state3">
        <p>message sent</p>
    </div>
</div>
-->