@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Forgot Password Confirmation";
}

<div>
    <p>
        Please check the email associated with your account.
    </p>
</div>



