@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Forgot Password Confirmation";
}

<div>
    <p>
        Please confirm if your email address is correct. We can not find your account.
    </p>
</div>



