@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Forgot Password Confirmation";
}

<div>
    <p>
        You tried so many times to do this. Please try later.
    </p>
</div>



